<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  
  
 
  
  <display-name>ticket_book</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signupServlet</display-name>
    <servlet-name>signupServlet</servlet-name>
    <servlet-class>com.emovie.contoller.signupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupServlet</servlet-name>
    <url-pattern>/signupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signinServlet</display-name>
    <servlet-name>signinServlet</servlet-name>
    <servlet-class>com.emovie.contoller.signinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signinServlet</servlet-name>
    <url-pattern>/signinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMovieServlet</display-name>
    <servlet-name>addMovieServlet</servlet-name>
    <servlet-class>com.emovie.contoller.addMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMovieServlet</servlet-name>
    <url-pattern>/addMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addShowServlet</display-name>
    <servlet-name>addShowServlet</servlet-name>
    <servlet-class>com.emovie.contoller.addShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addShowServlet</servlet-name>
    <url-pattern>/addShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addTheatreServlet</display-name>
    <servlet-name>addTheatreServlet</servlet-name>
    <servlet-class>com.emovie.contoller.addTheatreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTheatreServlet</servlet-name>
    <url-pattern>/addTheatreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pictureServlet</display-name>
    <servlet-name>pictureServlet</servlet-name>
    <servlet-class>com.emovie.contoller.pictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pictureServlet</servlet-name>
    <url-pattern>/pictureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateMovieServlet</display-name>
    <servlet-name>updateMovieServlet</servlet-name>
    <servlet-class>com.emovie.contoller.updateMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateMovieServlet</servlet-name>
    <url-pattern>/updateMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateShowServlet</display-name>
    <servlet-name>updateShowServlet</servlet-name>
    <servlet-class>com.emovie.contoller.updateShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateShowServlet</servlet-name>
    <url-pattern>/updateShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateTheatreServlet</display-name>
    <servlet-name>updateTheatreServlet</servlet-name>
    <servlet-class>com.emovie.contoller.updateTheatreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateTheatreServlet</servlet-name>
    <url-pattern>/updateTheatreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewMovieServlet</display-name>
    <servlet-name>viewMovieServlet</servlet-name>
    <servlet-class>com.emovie.contoller.viewMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMovieServlet</servlet-name>
    <url-pattern>/viewMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addTicketServlet</display-name>
    <servlet-name>addTicketServlet</servlet-name>
    <servlet-class>com.emovie.contoller.addTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTicketServlet</servlet-name>
    <url-pattern>/addTicketServlet</url-pattern>
  </servlet-mapping>
  
 
   
</web-app>